<hr>
<div class="footer grid-container" style="bottom: 0px; height: 68px; background: #FFFFFF; margin: auto">
  <div style="margin:auto; text-align: center;">
    Website designed by <a href="https://www.cemac.leeds.ac.uk/" target="_blank">CEMAC</a>
    &copy; 2019 <a href="https://www.leeds.ac.uk/" target="_blank">University of Leeds</a>, Leeds, LS2 9JT
  </div>
  <div id="icons" style="width:75%; margin: auto;">
    <center>
      <br>
      <a href="https://esrc.ukri.org/research/international-research/global-challenges-research-fund-gcrf/">
        <img class=icon src="/static/logos/GCRF-logo.png" alt="GCRF logo">
      </a>
      <a href="https://www.fanrpan.org/">
        <img class=icon src="/static/logos/fanrpan-logo.jpg" alt="FANRPAN logo">
      </a>
      <a href="http://esrftz.org/">
        <img class=icon src="/static/logos/esrf-logo.jpg" alt="ESRF logo">
      </a>
      <a href="https://www.namc.co.za/">
        <img class=icon src="/static/logos/namc-logo.jpg" alt="NAMC logo">
      </a>
      <a href="https://cisanetmalawi.org/">
        <img class=icon src="/static/logos/CISANET-logo.jpg" alt="CISANET logo">
      </a>
      <a href="http://www.acfzambia.org/">
        <img class=icon src="/static/logos/acf-logo.png" alt="ACF logo">
      </a>
  <!--</center>

  <center>-->
      <a href="https://www.ukri.org/">
        <img class=icon src="/static/logos/UKRI-logo.png" alt="UKRI logo">
      </a>
      <a href="https://www.chathamhouse.org/">
        <img class=icon src="/static/logos/chatham-logo.png" alt="Chatham House logo">
      </a>
      <a href="https://www.metoffice.gov.uk/">
        <img class=icon src="/static/logos/mo-logo.jpg" alt="Met Office logo">
      </a>
      <a href="http://www.leeds.ac.uk/">
        <img class=icon src="/static/logos/Leeds-logo.jpg" alt="Leeds logo">
      </a>
      <a href="https://www.abdn.ac.uk/">
        <img class=icon src="/static/logos/uoab-logo.jpg" alt="Aberdeen logo">
      </a>
    </center>
  </div>
  <div class=horline>
    <div class="leftline"><a href="/privacy">Privacy</a></div>
    <div class="rightline"><a href="/copyright">COPYRIGHT AND DISCLAIMER</a></div>
  </div>
</div>
