// ifeed navbar

.navbar-ifeed {
  background-color: #1d8ba5;
  border-color: #000000;

  .navbar-brand {
    color: white;
    &:hover,
    &:focus {
      cursor: pointer;
      opacity: 0.7;
      background-color: #1d8ba5;
      color: #8d9a9e;
    }
  }

  .navbar-text {
    color: white;
  }

  .navbar-nav {
    > li > a {
      color: white;

      &:hover,
      &:focus {
        color: #8d9a9e;
        background-color: #1d8ba5;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: #8d9a9e;
        background-color: #1d8ba5;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: #75979f;
        background-color: #1d8ba5;
      }
    }
  }

  // Darken the responsive nav toggle
  .navbar-toggle {
    border-color: #000000;
    &:hover,
    &:focus {
      background-color: #000000;
    }
    .icon-bar {
      background-color: #1d8ba5;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: darken(#000000, 7%);
  }

  // Dropdowns
  .navbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: #1d8ba5;
        color: white;
      }
    }

    @media (max-width: @grid-float-breakpoint-max) {
      // Dropdowns get custom display
      .open .dropdown-menu {
        > .dropdown-header {
          border-color: @navbar-inverse-border;
        }
        .divider {
          background-color: @navbar-inverse-border;
        }
        > li > a {
          color: @navbar-inverse-link-color;
          &:hover,
          &:focus {
            color: @navbar-inverse-link-hover-color;
            background-color: @navbar-inverse-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: @navbar-inverse-link-active-color;
            background-color: @navbar-inverse-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: @navbar-inverse-link-disabled-color;
            background-color: @navbar-inverse-link-disabled-bg;
          }
        }
      }
    }
  }

  .navbar-link {
    color: @navbar-inverse-link-color;
    &:hover {
      color: @navbar-inverse-link-hover-color;
    }
  }

  .btn-link {
    color: @navbar-inverse-link-color;
    &:hover,
    &:focus {
      color: @navbar-inverse-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: @navbar-inverse-link-disabled-color;
      }
    }
  }
}
