/*
 Theme Name:   Volcano project
 Template:     twentytwelve
 Version:      2.1
*/


/*@import url("styles_wp.css");*/


/* =Theme customization starts here
-------------------------------------------------------------- */

.navbar-ifeed .navbar-nav > li > a {
    color: #574c46;
}
.navbar-ifeed .navbar-nav > li > a:hover,
.navbar-ifeed .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #574c46;
}
.navbar-ifeed .navbar-brand > a {
  color: #fff;
  background-color: #574c46;
}

.navbar-ifeed .navbar-nav > .active > a,
.navbar-ifeed .navbar-nav > .active > a:hover,
.navbar-ifeed .navbar-nav > .active > a:focus {
    color: #f2c951;
    /*background-color: #f2c951;*/
}

.navcontainer {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }


}

nav {
  background: #fadabc !important;
  color: #574c46;
  /*padding: 5px 15px !important;*/
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  /*box-shadow: 0 0 5px #f2c951;*/
}

nav a {
  color: #574c46;
  text-decoration: none;
  transition: all .3s ease-out;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 60px;
}

nav a:hover {
  opacity: .7;
  cursor: pointer;
}

nav a i {
  margin-right: 5px;
}

page-container {
  position: relative;
  min-height: 100vh;
}

content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

div#container {
  max-width: 990px;
}

div.acf-map img{
  max-width:none !important;
}

#dash-container {
  width: 100%;
  margin: 15px auto 0;
}

#_dash-app-content {
  max-width: 95% !important;
  margin: 10px auto !important;
  overflow: hidden;
}

.dash-spreadsheet-container {
  margin: 30px auto !important;
  overflow: hidden;
  box-shadow: 0 0 5px #f2c951;
  font-family: Helvetica, Arial, sans-serif;
  max-width: 99%;
}

.dash-spreadsheet-container * {
  box-shadow: none !important;
}

.dash-spreadsheet-container th,
.dash-spreadsheet-container tr {
  max-width: 200px;
  box-shadow: none !important;
}

.dash-spreadsheet-container th {
  background: #e56819 !important;
  color: white;
  padding: 8px 10px !important;
  border-right: 1px solid #f2c951 !important;
}
.dash-spreadsheet-container th .sort {
  color: #5d2a0a !important;
  transition: all .3s ease-out;
  order: 2;
}

.dash-spreadsheet-container th :hover {
  cursor: pointer;
  opacity: .7;
  text-decoration: none;
}

.dash-spreadsheet-container th  > div {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.dash-spreadsheet-container th > div span:last-of-type {
  font-size: 12px;
}

.dash-spreadsheet-container td {
  padding: 15px 10px !important;
  text-align: left !important;
}
.dash-spreadsheet-container td .dash-cell-value {
  display: inline !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 172px;
  text-align: left;
  font-size: 1em;
  overflow: hidden;
}

.dash-spreadsheet-container tr:nth-child(even) {
    background: #fdf1d8 !important;
}

table thead tr {
  background: #646483 !important;
  color: white !important;
  font-weight: 100 !important;
  text-transform: uppercase !important;
  font-size: 0.8em !important;
}

table thead tr th {
  border-radius: 0 !important;
  text-align: center !important;
  line-height: 1.2 !important;
  padding: 10px 5px !important;
  box-shadow: 0 0 7px #bdbdd2 !important;
}

table tbody {
  box-shadow: 0 0 7px #bdbdd2 !important;
}

table tbody tr {
  border: 0 !important;
}

table tbody tr:nth-child(even){
  background:#e7eefa!important
}

table tbody tr td {
  max-width: 150px !important;
  overflow: hidden !important;
  padding: 15px 10px !important;
  font-size: 0.73em !important;
  line-height: 1.25 !important;
  border-radius: 0 !important;
  text-align: center !important;
}

/*.tabrow {
    text-align: left;
    list-style: none;
    margin: 5px 0 5px 0;
    padding: 0 0 0 10px;
    line-height: 24px;
    height: 26px;
    overflow: hidden;
    font-size: 12px;
    font-family: verdana;
    position: relative;
}
.tabrow li {
    border: 1px solid #AAA;
    background: #D1D1D1;
    background: -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    display: inline-block;
    position: relative;
    z-index: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
    text-shadow: 0 1px #FFF;
    margin: 0 -5px;
    padding: 0 10px;
}
.tabrow a {
      color: #555;
      text-decoration: none;
}
.tabrow li.selected {
    background: #FFF;
    color: #333;
    z-index: 2;
    border-bottom-color: #FFF;
}
.tabrow:before {
    position: absolute;
    content: " ";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #AAA;
    z-index: 1;
}
.tabrow li:before,
.tabrow li:after {
    border: 1px solid #AAA;
    position: absolute;
    bottom: -1px;
    width: 5px;
    height: 5px;
    content: " ";
}
.tabrow li:before {
    left: -6px;
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
    box-shadow: 2px 2px 0 #D1D1D1;
}
.tabrow li:after {
    right: -6px;
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
    box-shadow: -2px 2px 0 #D1D1D1;
}
.tabrow li.selected:before {
    box-shadow: 2px 2px 0 #FFF;
}
.tabrow li.selected:after {
    box-shadow: -2px 2px 0 #FFF;
}

th {
    width:33%;
}
*/
h3 {
    font-size: 1.2em;
    margin: 0 0 5px 0;
}

#primary, #secondary {
    overflow: inherit;
}

.support-index ul {
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0 10px;
    margin-left: 0;
    list-style: none;
}

.double-col li {
  width: 30%;
  padding-right: 15px;
  margin-left:0;
  float: left;
}

.entry-content table {
    border: none;
}

.single-volcano .entry-content table {
    width:100%;
}

.volc_image {
    border: 1px solid #ccc;
    max-width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Custom menu styles based on coraline # access */

.menu-second_menu-container {
    border-top: 1px solid #ccc;
    display: block;
    float: left;
    margin: 0 auto;
    padding: 1px 0 0;
    width: 100%;
}
.menu-second_menu-container ul {
    font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
    font-size: 13px;
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding-left: 0;
    text-transform: uppercase;
}
.menu-second_menu-container li {
    float: left;
    position: relative;
}
.menu-second_menu-container a {
    color: #000;
    display: block;
    line-height: 2em;
    margin: 0 1px 0 0;
    padding: 0.25em 1em 0;
    text-decoration: none;
}
.menu-second_menu-container ul ul {
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow:         0 3px 3px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    font-weight: normal;
    position: absolute;
    top: 100%;
    left: 0;
    text-transform: none;
    z-index: 99999;
    width: 180px;
}
.menu-second_menu-container ul ul ul {
    left: 100%;
    top: 0;
}
.menu-second_menu-container ul ul a {
    background: #000;
    color: #eee;
    line-height: 1em;
    margin: 0;
    padding: .66em .5em .5em 1em;
    min-width: 180px;
    height: auto;
}
.menu-second_menu-container li > a:focus,
.menu-second_menu-container ul ul :focus > a,
.menu-second_menu-container li:hover > a,
.menu-second_menu-container ul ul :hover > a {
    background: #000;
    color: #fff;
}
.menu-second_menu-container ul ul a:focus,
.menu-second_menu-container ul ul a:hover {
    background: #222;
}
.menu-second_menu-container ul li:focus > ul,
.menu-second_menu-container ul li:hover > ul {
    display: block;
}
.menu-second_menu-container .current-menu-item a,
.menu-second_menu-container .current-menu-ancestor a,
.menu-second_menu-container .current_page_item a,
.menu-second_menu-container .current_page_ancestor a {
    background: #000;
    color: #fff;
}

#site-footer-widget img {
    margin:2em 0em 1em 0em;
}

footer {
    margin-top:1em;
}

.back-to-top {
    text-align:right;
}

@media print {
    .back-to-top {
        display:none;
    }
}

.button {
    display: inline-block;
    font-family: inherit;
    font-weight: bold;
    outline: 0 !important;
    border: 1px solid #D4D4D4 !important;
    border-radius: 2px;
    color: #444 !important;
    background: -webkit-linear-gradient(top, #F4F4F2, #EDEDEB);
    background: linear-gradient(to bottom, #F4F4F2, #EDEDEB);
    box-shadow: inset 0 1px 0 #FDFDFC;
    white-space: nowrap;
    padding: 5px 8px !important;
    line-height: 1.4 !important;
    position: relative;
    text-decoration: none;
}

.button:hover, .button:focus {
    background: -webkit-linear-gradient(top, #EBEBEB, #C7C7C3);
    background: linear-gradient(to bottom, #EBEBEB, #C7C7C3);
}

.toggleable-header {
    cursor:pointer;
}

.accessibly-hidden {
    position: absolute; left: -999em;
}

.entry-content > p
{
    text-align:center;
}

.icon {
  height:50px;
  width:auto;
  padding: 5px
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.headbox{
  padding: 5px;
}

.headrow{
  display : flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.divhead{
  width: 20%;
}

.grdouterbox {
  padding-top: 5px;
  height: 70%;
  width: 95%;
}

.grdcontainercol{
  display : flex;
  flex-direction: column;
  /*padding:5px;*/
  margin: 0;
  flex : 1 1 auto;
  align-items: center;
}

.grdcontainerrow{
  display : flex;
  flex-direction: row;
  margin: 0;
  flex : 1 1 auto;
  align-items: center;
}

.quadcontainer{
  position: relative;
}

.homerow{
  display : flex;
  flex-direction: row;
  margin: auto;
  flex : 1 1 auto;
  align-content: center;
  justify-content: space-between;
}

.homecol{
  display : flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}

.grdcol{
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.grdcol2{
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 15px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  position: absolute;
  background-color: #fdf1d8;
  color: #593c2f;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #593c2f;
  width: 33%;
  height: 33%;
  font-size: 18px;
}

.homebox {
  background-color:#fdf1d8;
  color:#593c2f;
  padding: 3.25em;
  margin:10px;
  border-radius : 10px;
  text-align:center;
  border : 2px solid #593c2f;
}

.homeboxrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

.homeboxrow > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.panel-heading {
  display: inline-block;
}

.panel-group .panel+.panel {
  margin: 0;
  border: 0;
}

.panel {
  border: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.vertline {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 10%;
  left: 45%;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color : #593c2f;
}

.uaxislbl {
  position: absolute;
  top : 5%;
  width: 100%;
  text-align: center;
  color : #593c2f;
}

.daxislbl {
  position: absolute;
  bottom : 5%;
  width: 100%;
  text-align: center;
  color : #593c2f;
}

.horline {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  color : #593c2f;
}

.laxislbl {
  text-align: left;
  /*align-self: flex-start;*/
  flex: 0 1 auto;
  align-items: center;
  color : #593c2f;
}

.leftline {
  text-align: center;
  flex: 1 1 auto;
  align-items: center;
  color : #593c2f;
}

.rightline {
  text-align: center;
  flex: 1 1 auto;
  align-items: center;
  color : #593c2f;
}

.raxislbl {
  text-align: right;
  /*align-self: flex-end;*/
  flex: 0 1 auto;
  align-items: center;
  color : #593c2f;
}
