<hr>
<div class="footer" style="left: 30px; bottom: 0px; height: 68px; width: 85%; background: #FFFFFF; margin: 30px">
    <div  style="height: 14px;  float: left;">
  <a href="/copyright">COPYRIGHT AND DISCLAIMER</a>
  </div>
  <div style="height: 14px; float: right;"><a href="/contribute">CONTRIBUTOR GUIDELINES</a>
  </div>
  <div style="height: 16px; text-align: center;">
    Website designed by <a href="https://www.cemac.leeds.ac.uk/" target="_blank">CEMAC</a>
    &copy; 2019 <a href="https://www.leeds.ac.uk/" target="_blank">University of Leeds</a>, Leeds, LS2 9JT
  </div style="height: 55px; ">
  <center>
    <a href="https://africap.info/">
      <img src="/static/icon.svg" alt="GCRF AFRICAP logo" style="height:75px; width:auto; padding: 5px">
    </a>
    <a href="https://esrc.ukri.org/research/international-research/global-challenges-research-fund-gcrf/">
      <img src="/static/GCRF-logo.jpg" alt="GCRF logo" style="height:75px; width:auto; padding: 5px">
    </a>
    <a href="https://www.fanrpan.org/">
      <img src="/static/fanrpan-logo.jpg" alt="FANRPAN logo" style="height:75px; width:auto; padding: 5px">
    </a>
    <a href="http://esrftz.org/">
      <img src="/static/esrf-logo.jpg" alt="ESRF logo" style="height:75px; width:auto; padding: 5px">
    </a>
    <a href="https://www.namc.co.za/">
      <img src="/static/namc-logo.jpg" alt="NAMC logo" style="height:75px; width:auto; padding: 5px">
    </a>
    <a href="https://cisanetmalawi.org/">
      <img src="/static/CISANET-logo.jpg" alt="CISANET logo" style="height:75px; width:auto; padding: 5px">
    </a>
    <a href="http://www.acfzambia.org/">
      <img src="/static/acf-logo.png" alt="ACF logo" style="height:75px; width:auto; padding: 5px">
    </a>
  </center>

  <center>
    <a href="https://www.ukri.org/">
      <img src="/static/UKRI-logo.png" alt="UKRI logo" style="height:75px; width:auto; padding: 5px">
    </a>
    <a href="https://www.chathamhouse.org/">
      <img src="/static/chatham-logo.png" alt="Chatham House logo" style="height:75px; width:auto; padding: 5px">
    </a>
    <a href="https://www.metoffice.gov.uk/">
      <img src="/static/mo-logo.jpg" alt="Met Office logo" style="height:75px; width:auto; padding: 5px">
    </a>    
    <a href="http://www.leeds.ac.uk/">
      <img src="/static/Leeds-logo.jpg" alt="Leeds logo" style="height:75px; width:auto; padding: 5px">
    </a>
    <a href="https://www.abdn.ac.uk/">
      <img src="/static/uoab-logo.jpg" alt="Aberdeen logo" style="height:75px; width:auto; padding: 5px">
    </a>
  </center>

  <center>
    <a href="/privacy">Privacy</a>
  </center>
</div>
