<div style="text-align: center; width: 80%; ">
			<div>
				<span>
					<img src="/static/icon.svg" alt="Africap Banner" style="float:left;height:50px;"></a>
					<a href="/" title="iFEED Tool Dashboard" rel="home"><span style="font-size: 35px">iFEED Tool Dashboard</span></a>
				</span>
			</div>
			<span style="font-size: 15px"><b>i</b>ntegrated <b>F</b>uture <b>E</b>stimator for <b>E</b>missions and <b>D</b>iets</span>
		</div><!-- #masthead -->
