{% extends 'layout.html.j2' %}
{% block body %}
<div>
  <h1> Country Descriptor Grid for {{country}} </h1>
  <p> Country is {{country}},
  <p> Country code is {{ccode}}
  <div class="grdouterbox">
    <div class="grdcontainer">
      <div class="row">
        <div class="box"><img class="grow", src="https://dummyimage.com/200x200/2bb8b8/fff.png&text=Dummy+Image" > </div>
        <div class="verline arrow-up"></div>
        <div class="box"><img class="grow", src="https://dummyimage.com/200x200/2bb8b8/fff.png&text=Dummy+Image" > </div>
      </div>
      <div class="horline arrow-left"></div>
      <div class="horline arrow-right"></div>
      <div class="row">
        <div class="box"><img class="grow", src="https://dummyimage.com/200x200/2bb8b8/fff.png&text=Dummy+Image" > </div>
        <div class="verline arrow-down"></div>
        <div class="box"><img class="grow", src="https://dummyimage.com/200x200/2bb8b8/fff.png&text=Dummy+Image" > </div>
      </div>
    </div>
  </div>
</div><!-- .entry-content -->
{% endblock %}
</html>
