{% extends "layout.html.j2" %}
{% block title %}Page Not Found{% endblock %}
{% block body %}
<h1 class="entry-title" itemprop="headline">Oops! That page can't be found</h1>
<p class="entry-content"> It looks like nothing was found at that address </p>
<p><a href="{{ url_for('main_bp.index') }}">Return to Home Page</a></p>
{% endblock %}
