{% extends 'layout.html.j2' %}
{% block body %}
<div >
<h2>Informing a climate-smart, food- and nutrition-secure future for Africa</h2><br>

Climate change will put millions more people in Africa at risk of food and nutrition insecurity by 2050. Holistic policies on agriculture, nutrition and trade are urgently needed, but making the right decisions today to support sustainable, climate-resilient food systems decades into the future is a complex task.<br><br>

The <b>integrated Future Estimator for Emissions and Diets</b> (iFEED) is an extensive evidence base designed to help decision-makers identify policy pathways to a climate-smart, food-and nutrition-secure future for Africa.<br><br>

<div class="row">
<div class="homecol col-md-8 col-sm-12">

<ul>
  <li>iFEED fully integrates modelling information and expert knowledge, building a more complete picture of potential future scenarios.</li>
  <li>iFEED is an Integrated Assessment Framework that integrates crop-climate-emissions modelling with land use dynamics, trade and nutrition analysis, and expert judgement to explore the risks, trade-offs and opportunities of future scenarios.</li>
  <li>iFEED results illustrate which pathways of regional land use, agricultural technology development and changes in trade and diets can deliver the UN Sustainable Development Goals while limiting rises in agricultural emissions.</li>
  <li>iFEED explores the future impact of current activities, enabling policymakers to take decisions today to achieve a food- and nutrition-secure future in 2050.</li>
</ul>



  <br>Using possible future scenarios of policy outcomes and climate risks, iFEED quantifies crop management and yields, land and water use, GHG emissions, and nutrition outcomes.The results are available for current and future periods, offering information on the amount and types of food likely to be available in the future, impacts on nutrition security, and emissions involved in food production.<br><br>
  All results for Malawi, South Africa, Tanzania and Zambia are available freely online, including policy briefs summarising key policy recommendations in each country.

  For more information, view our explanatory infographic showing the journey taken to developing iFEED.

<br/><br/>
<iframe width="712" height="400" src="https://www.youtube.com/embed/y-Jp6AKstzE" title="Extended video introducing the integrated Future Estimator for Emissions and Diets (iFEED) tool" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
<div class="homecol col-md-4 col-sm-12">
  <a href="/infographic"><img loading="lazy" width="350" height="495" src="/static/images/infographic.jpg" alt="Infographic showing the process of creating iFEED"></a>
</div>
</div>
</div>

{% endblock %}
</html>
