{% extends 'layout.html.j2' %}
{% block body %}
<h2 id="calibrated">iFEED Calibrated Statements</h2>

<p>
<a href="https://drive.google.com/file/d/1Qeo4qDfdhv47uUiz4prcYeMFTzzRN8nz/preview" target="_blank">Climate change extremes summary</a> <!--iFEED-calibrated-statements-climate-extremes-summary_pdf.pdf -->
<br/>
<a href="https://drive.google.com/file/d/1ldNozn0tyN-dh0eDrTAxUvtHWHjRwvI5/preview" target="_blank">Climate change extremes part 1: (temperature and rainfall extremes)</a> <!-- iFEED-calibrated-statements-climate-extremes_EP_pdf.pdf -->
<br/>
<a href="https://drive.google.com/file/d/1uUhMSIk_C3JntYC0dGvHiRHvqFqNgFKV/preview" target="_blank">Climate change extremes part 2: (rainfall amount and duration change, soil erosion, cassava toxicity)</a> <!-- iFEED-calibrated-statements-climate-extremes_SC_pdf.pdf -->
<br/>
<a href="https://drive.google.com/file/d/15NfMGvQ2nv3oy5mmuFy-qiS2y2wgZTWY/preview" target="_blank">Climate change impacts and adaptation</a> <!-- iFEED-calibrated-statements-climate-impacts_pdf.pdf -->
<br/>
<a href="https://drive.google.com/file/d/1-m3p4mQsDrRuY-Q2Jo-xVjifRIRnBRG_/preview" target="_blank">Food production</a> <!-- iFEED-calibrated-statements-food-production_pdf.pdf -->
<br/>
<a href="https://drive.google.com/file/d/1wnkWOH3zFZ8ID66EogffZC3rxKb2gGXb/preview" target="_blank">Trade and nutrition security</a> <!-- iFEED-calibrated-statements-TNT_pdf.pdf -->
<br/>
<a href="https://drive.google.com/file/d/1IFkq2RohVp_3MayjwbVNKFkePk7J7y_X/preview" target="_blank">Yield shocks - all statements</a> <!-- iFEED-calibrated-statements-yield-shocks-full_pdf.pdf -->
<br/>
<a href="https://drive.google.com/file/d/18WhmWDypw9hN3rcTHsIUtOOT6JUdkX7f/preview" target="_blank">Yield shocks summary</a> <!-- iFEED-calibrated-statements-yield-shocks-summary_pdf.pdf -->
<br/>
<a href="https://drive.google.com/file/d/112dW_MsMsfGRGf7ZrUyGA5h7gFR9H9gE/preview" target="_blank">Crop pests and diseases</a> <!-- iFEED-calibrated-statements-crop-pest_pdf.pdf -->
<br/>
<a href="https://drive.google.com/file/d/1Y3RfI-tZ-grGhEMO2k_jTFEtJCoF8KUq/preview" target="_blank">Emissions and soils</a> <!-- iFEED-calibrated-statements-emissions-soil_pdf.pdf -->
<br/>
<a href="https://drive.google.com/file/d/1gZ9HYMHtPo5FdLCR_tWH1bBuVfnZSgZt/preview" target="_blank">Soil erosion</a> <!-- iFEED-calibrated-statements-soil-erosion_SC_pdf.pdf -->
</p>

<h2 id="implication">iFEED Implication Statements</h2>

<p>
<a href="https://drive.google.com/file/d/1YrD8NTlg9GCuGp08-aSE4PXHVusz8dlW/preview" target="_blank">Irrigation</a> <!-- Ifeed Implication Statements - Irrigation Water Use_AD_pdf.pdf -->
<br/>
<a href="https://drive.google.com/file/d/1nezeBrDGNj50Mn3yk07y1YAUsOSGkPV8/preview" target="_blank">Aflatoxins</a> <!-- iFEED Implication Statements Aflatoxins June 2021_pdf.pdf -->
<br/>
<a href="https://drive.google.com/file/d/14ZOBriOLZsOnN-QlnSqV3B2HMnRIouc7/preview" target="_blank">Crop diversification and livestock</a> <!-- iFEED Implication Statements-Crop and Livestock diversification updated_pdf.pdf -->
<br/>
<a href="https://drive.google.com/file/d/1kS1FVsJ5qi8tTwuRHYQ9TsLaxyT1A-Zm/preview" target="_blank">Crop pests and diseases</a> <!-- iFEED Implication Statements-Crop pests and Diseases-2021-15June_pdf.pdf -->
<br/>
<a href="https://drive.google.com/file/d/1oXM3youMiVbWsKwMvHufHtQlhZ_owT0F/preview" target="_blank">Cassava toxicity</a> <!-- Implication Statements_cassava toxicity_TNT_pdf.pdf -->
<br/>
<a href="https://drive.google.com/file/d/1NgXLC3bafPVVav7jYHIJqDdbcloTtuZx/preview" target="_blank">Households and livelihoods</a> <!-- Implication statements_Livelihoods_HS_SS_pdf.pdf -->
<br/>
<a href="https://drive.google.com/file/d/19hmwA-Q5V2FMtzjqndhHQyzFx30A1WmS/preview" target="_blank">Seed systems</a> <!-- Seed systems implications statements SW_MM_SW_pdf.pdf -->
<br/>
<a href="https://drive.google.com/file/d/1wUFXhr3-6o4FO3u9qB0ukhQrbHQ52_wh/preview" target="_blank">Soil health</a> <!-- Soil health_implication_statements_pdf.pdf -->
</p>
<!-- .entry-content -->
{% endblock %}

</html>
