{% extends 'layout.html.j2' %}
{% block body %}
<h2 id='calibrated'>iFEED Calibrated Statements</h2>

<p>
  <a href='/static/data/docs/Calibrated_Statements/iFEED_Calibrated_Statements-Climate_Extremes_Summary_pdf.pdf' target='_blank'>Climate change extremes summary</a> <!--iFEED-calibrated-statements-climate-extremes-summary_pdf.pdf -->
  <br>
  <a href='/static/data/docs/Calibrated_Statements/iFEED_Calibrated_Statements-Climate_Extremes_EP_pdf.pdf' target='_blank'>Climate change extremes part 1: (temperature and rainfall extremes)</a> <!-- iFEED-calibrated-statements-climate-extremes_EP_pdf.pdf -->
  <br>
  <a href='/static/data/docs/Calibrated_Statements/iFEED_Calibrated_Statements-Climate_Extremes_SC_pdf.pdf' target='_blank'>Climate change extremes part 2: (rainfall amount and duration change, soil erosion, cassava toxicity)</a> <!-- iFEED-calibrated-statements-climate-extremes_SC_pdf.pdf -->
  <br>
  <a href='/static/data/docs/Calibrated_Statements/iFEED_Calibrated_Statements-Climate_Impacts_pdf.pdf' target='_blank'>Climate change impacts and adaptation</a> <!-- iFEED-calibrated-statements-climate-impacts_pdf.pdf -->
  <br>
  <a href='/static/data/docs/Calibrated_Statements/iFEED_Calibrated_Statements-Food_Production_pdf.pdf' target='_blank'>Food production</a> <!-- iFEED-calibrated-statements-food-production_pdf.pdf -->
  <br>
  <a href='/static/data/docs/Calibrated_Statements/iFEED_Calibrated_Statements-TNT_pdf.pdf' target='_blank'>Trade and nutrition security</a> <!-- iFEED-calibrated-statements-TNT_pdf.pdf -->
  <br>
  <a href='/static/data/docs/Calibrated_Statements/iFEED_Calibrated_Statements-Yield_Shocks_full_pdf.pdf' target='_blank'>Yield shocks - all statements</a> <!-- iFEED-calibrated-statements-yield-shocks-full_pdf.pdf -->
  <br>
  <a href='/static/data/docs/Calibrated_Statements/iFEED_Calibrated_Statements-Yiels_Shocks_Summary_pdf.pdf' target='_blank'>Yield shocks summary</a> <!-- iFEED-calibrated-statements-yield-shocks-summary_pdf.pdf -->
  <br>
  <a href='/static/data/docs/Calibrated_Statements/iFEED_Calibrated_Statements-Crop_Pest_pdf.pdf' target='_blank'>Crop pests and diseases</a> <!-- iFEED-calibrated-statements-crop-pest_pdf.pdf -->
  <br>
  <a href='/static/data/docs/Calibrated_Statements/iFEED_Calibrated_Statements-Emissions_Soil_pdf.pdf' target='_blank'>Emissions and soils</a> <!-- iFEED-calibrated-statements-emissions-soil_pdf.pdf -->
  <br>
  <a href='/static/data/docs/Calibrated_Statements/iFEED_Calibrated_Statements-Soil_Erosion_pdf.pdf' target='_blank'>Soil erosion</a> <!-- iFEED-calibrated-statements-soil-erosion_SC_pdf.pdf -->
</p>

<h2 id='implication'>iFEED Implication Statements</h2>

<p>
<a href='/static/data/docs/Implication_Statements/iFEED_Implication_Statements-Irrigation_Water_Use_pdf.pdf' target='_blank'>Irrigation</a> <!-- Ifeed Implication Statements - Irrigation Water Use_AD_pdf.pdf -->
<br>
<a href='/static/data/docs/Implication_Statements/iFEED_Implication_Statements-Aflatoxins_pdf.pdf' target='_blank'>Aflatoxins</a> <!-- iFEED Implication Statements Aflatoxins June 2021_pdf.pdf -->
<br>
<a href='/static/data/docs/Implication_Statements/iFEED_Implication_Statements-Crop_and_Livestock_diversification_pdf.pdf' target='_blank'>Crop diversification and livestock</a> <!-- iFEED Implication Statements-Crop and Livestock diversification updated_pdf.pdf -->
<br>
<a href='/static/data/docs/Implication_Statements/iFEED_Implication_Statements-Crop_pests_and_Diseases_pdf.pdf' target='_blank'>Crop pests and diseases</a> <!-- iFEED Implication Statements-Crop pests and Diseases-2021-15June_pdf.pdf -->
<br>
<a href='/static/data/docs/Implication_Statements/iFEED_Implication_Statements-Cassava_Toxicity_pdf.pdf' target='_blank'>Cassava toxicity</a> <!-- Implication Statements_cassava toxicity_TNT_pdf.pdf -->
<br>
<a href='/static/data/docs/Implication_Statements/iFEED_Implication_Statements-Livelihoods_pdf.pdf' target='_blank'>Households and livelihoods</a> <!-- Implication statements_Livelihoods_HS_SS_pdf.pdf -->
<br>
<a href='/static/data/docs/Implication_Statements/iFEED_Implication_Statements-Seed_Systems_pdf.pdf' target='_blank'>Seed systems</a> <!-- Seed systems implications statements SW_MM_SW_pdf.pdf -->
<br>
<a href='/static/data/docs/Implication_Statements/iFEED_Implication_Statements-Soil_Health_pdf.pdf' target='_blank'>Soil health</a> <!-- Soil health_implication_statements_pdf.pdf -->
</p>

<h2 id='policysummaries'>iFEED Policy Topic Summaries</h2>

<p>
<a href='/static/data/docs/Policy_Topic_Summaries/iFEED_Policy_Topic_Summary-Agri_Resistance_pdf.pdf' target='_blank'>Agricultural Resilience Under Climate Risks</a>
<br>
<a href='/static/data/docs/Policy_Topic_Summaries/iFEED_Policy_Topic_Summary-Commercialisation_pdf.pdf' target='_blank'>Agricultural Commercialisation In The Context Of Climate Risks</a>
<br>
<a href='/static/data/docs/Policy_Topic_Summaries/iFEED_Policy_Topic_Summary-Land_pdf.pdf' target='_blank'>Agricultural Land In The Context Of Climate Risks</a>
<br>
<a href='/static/data/docs/Policy_Topic_Summaries/iFEED_Policy_Topic_Summary-Nutrition_pdf.pdf' target='_blank'>Nutrition Security In The Context Of Climate Risks</a>
</p>
<!-- .entry-content -->
{% endblock %}

</html>
