{% extends 'layout.html.j2' %}
{% block body %}
<div style="text-align: justify; margin: auto">
  If you would like more information or need to contact us, you can do so at the following email addresses:
<br>
  Stewart Jennings -
  Andy Challinor - 
{% endblock %}
</html>
