{% extends 'layout.html.j2' %}
{% block body %}
<div style="text-align: justify; margin: auto">

<h2>Address</h2>
<p>Priestley International Centre for Climate<br>School of Earth &amp; Environment<br>University of Leeds, LS2 9JT</p>

<h2>Email</h2>

<p>Stewart Jennings - <a href="mailto:s.a.jennings@leeds.ac.uk">s.a.jennings@leeds.ac.uk</a></p>
<p>Andy Challinor - <a href="mailto:a.j.challinor@leeds.ac.uk">a.j.challinor@leeds.ac.uk</a></p>

</div>
{% endblock %}
</html>
