{% extends 'layout.html.j2' %}
{% block body %}
<div style="text-align: justify; margin: auto">

<h2> iFEED Academic Staff </h2>

<h3>iFEED Lead</h3>

<p><a href="https://environment.leeds.ac.uk/see/staff/1200/professor-andy-challinor">Prof Andrew Challinor</a><br>email - <a href="mailto:a.j.challinor@leeds.ac.uk">a.j.challinor@leeds.ac.uk</a></p>

<h3>iFEED Researcher</h3>

<p><a href="https://environment.leeds.ac.uk/see/staff/2683/dr-stewart-jennings">Dr Stewart Jennings</a><br>email - <a href="mailto:s.a.jennings@leeds.ac.uk">s.a.jennings@leeds.ac.uk</a></p>


<h2>Address</h2>
<p>Priestley International Centre for Climate<br>School of Earth &amp; Environment<br>University of Leeds, LS2 9JT</p>



</div>
{% endblock %}
</html>
