{% extends 'layout.html.j2' %}
{% block body %}
{% if ccode == "MWI" %}
  {% set yax = ['High', 'Irrigation', 'Modification', 'Low'] %}
{% elif ccode == "TZA" %}
  {% set yax = ['High', 'Production', 'Modification', 'Low'] %}
{% elif ccode == "ZMB" %}
  {% set yax = ['High', 'Irrigation', 'Modification', 'Low'] %}
{% elif ccode == "ZAF" %}
  {% set yax = ['High', 'Production', 'Modification', 'Low'] %}
{% endif %}

<div style="color: #593c2f">
  <h1> Country Descriptor Grid for {{country}} </h1>
  <div class="grdouterbox">
    <div class="grdcontainer">
      <div class="uaxislbl">{{yax[0]}}</div>
      <div class="ar-up"></div>
      <div class="grdrow">
        <div class="box"><a href="/quadrants/{{ccode}}10"><img class="grow", src="https://dummyimage.com/200x200/fdf1d8/593c2f.png&text=Quadrant+10", alt="Quadrant (1,0)" ></a> </div>
        <div class="upline">{{yax[1]}}</div>
        <div class="box"><a href="/quadrants/{{ccode}}11"><img class="grow", src="https://dummyimage.com/200x200/fdf1d8/593c2f.png&text=Quadrant+11", alt="Quadrant (1,1)" ></a> </div>
      </div>
      <div class="grdrow2">
        <div class="laxislbl">Low</div>
        <div class="ar-left"></div>
        <div class="horline">Climate Impact</div>
        <div class="ar-right"></div>
        <div class="raxislbl">High</div>
      </div>
      <div class="grdrow">
        <div class="box"><a href="/quadrants/{{ccode}}00"><img class="grow", src="https://dummyimage.com/200x200/fdf1d8/593c2f.png&text=Quadrant+00", alt="Quadrant (0,0)" ></a> </div>
        <div class="dnline">{{yax[2]}}</div>
        <div class="box"><a href="/quadrants/{{ccode}}01"><img class="grow", src="https://dummyimage.com/200x200/fdf1d8/593c2f.png&text=Quadrant+01", alt="Quadrant (0,1)" ></a> </div>
      </div>
      <div class="ar-down"></div>
      <div class="daxislbl">{{yax[3]}}</div>
    </div>
  </div>
</div><!-- .entry-content -->
{% endblock %}
</html>
