{% extends 'layout.html.j2' %}
{% block body %}
<div style='text-align: justify; margin: auto'>
  <object width='100%' height='600px' type='application/pdf' data='/static/data/docs/Descriptors/Document_Not_Available.pdf#view=FitH&scrollbar=0&toolbar=0&navpanes=0'>
    <p><center><br><br>No PDF plugin found for this browser.<br><br><a href='/static/data/docs/Descriptors/Document_Not_Available.pdf'>Click here to download the PDF file instead</a></center></p>
  </object>
  <div>
    <h4><a href='/countries/MWI/Keyfindings'>Read South_Africa's key findings</a></h4>
    <div class='row'>
    <div class='col-md-6 col-12'>
      <p><strong>Path to Heaven</strong> - Low climate risk and effective agricultural policy<br>
      <a href='/static/data/docs/Descriptors/Climate_Extremes/iFEED_Descriptor_Climate_Extremes-South_Africa_LowClimateRisk_pdf.pdf' target='_blank'>Climate Extremes</a><br>
      <a href='/static/data/docs/Descriptors/Climate_Smartness/iFEED_Descriptor_Climate_Smart_Agriculture_pdf.pdf' target='_blank'>Climate Smartness</a><br>
      <a href='/static/data/docs/Descriptors/Food_Production_and_Land_Use/iFEED_Descriptor_Food_Production-South_Africa_RCP2.6_HT_pdf.pdf' target='_blank'>Food Production and Land Use</a><br>
      <a href='/static/data/docs/Descriptors/Trade_and_Nutrition_Security/iFEED_Descriptor_Trade_Nutrition-South_Africa_pdf.pdf' target='_blank'>Trade and Nutrition Security</a><br></p>
      <p><strong>Degrading Economy</strong> - Low climate risk and ineffective agricultural policy<br>
      <a href='/static/data/docs/Descriptors/Climate_Extremes/iFEED_Descriptor_Climate_Extremes-South_Africa_LowClimateRisk_pdf.pdf' target='_blank'>Climate Extremes</a><br>
      <a href='/static/data/docs/Descriptors/Climate_Smartness/iFEED_Descriptor_Climate_Smart_Agriculture_pdf.pdf' target='_blank'>Climate Smartness</a><br>
      <a href='/static/data/docs/Descriptors/Food_Production_and_Land_Use/iFEED_Descriptor_Food_Production-South_Africa_RCP2.6_LT_pdf.pdf' target='_blank'>Food Production and Land Use</a><br>
      <a href='/static/data/docs/Descriptors/Trade_and_Nutrition_Security/iFEED_Descriptor_Trade_Nutrition-South_Africa_pdf.pdf' target='_blank'>Trade and Nutrition Security</a><br></p>
    </div>
    <div class='col-md-6 col-12'>
      <p>
      <strong>Demanding but Coping</strong> - High climate risk and effective agricultural policy<br>
      <a href='/static/data/docs/Descriptors/Climate_Extremes/iFEED_Descriptor_Climate_Extremes-South_Africa_HighClimateRisk_pdf.pdf' target='_blank'>Climate Extremes</a><br>
      <a href='/static/data/docs/Descriptors/Climate_Smartness/iFEED_Descriptor_Climate_Smart_Agriculture_pdf.pdf' target='_blank'>Climate Smartness</a><br>
      <a href='/static/data/docs/Descriptors/Food_Production_and_Land_Use/iFEED_Descriptor_Food_Production-South_Africa_RCP8.5_HT_pdf.pdf' target='_blank'>Food Production and Land Use</a><br>
      <a href='/static/data/docs/Descriptors/Trade_and_Nutrition_Security/iFEED_Descriptor_Trade_Nutrition-South_Africa_pdf.pdf' target='_blank'>Trade and Nutrition Security</a><br></p>
      <p><strong>The Road to Hell</strong> - High climate risk and ineffective agricultural policy<br>
      <a href='/static/data/docs/Descriptors/Climate_Extremes/iFEED_Descriptor_Climate_Extremes-South_Africa_HighClimateRisk_pdf.pdf' target='_blank'>Climate Extremes</a><br>
      <a href='/static/data/docs/Descriptors/Climate_Smartness/iFEED_Descriptor_Climate_Smart_Agriculture_pdf.pdf' target='_blank'>Climate Smartness</a><br>
      <a href='/static/data/docs/Descriptors/Food_Production_and_Land_Use/iFEED_Descriptor_Food_Production-South_Africa_RCP8.5_LT_pdf.pdf' target='_blank'>Food Production and Land Use</a><br>
      <a href='/static/data/docs/Descriptors/Trade_and_Nutrition_Security/iFEED_Descriptor_Trade_Nutrition-South_Africa_pdf.pdf' target='_blank'>Trade and Nutrition Security</a><br></p>
    </div>
    <div class='col-md-6 col-12'>
      <strong>Calibrated Statements</strong>
      <br>
      <a href='/static/data/docs/Calibrated_Statements/iFEED_Calibrated_Statements-Climate_Extremes_Summary_pdf.pdf' target='_blank'>Climate change extremes summary</a>
      <br>
      <a href='/static/data/docs/Calibrated_Statements/iFEED_Calibrated_Statements-Climate_Extremes_EP_pdf.pdf' target='_blank'>Climate change extremes - part 1</a>
      <br>
      <a href='/static/data/docs/Calibrated_Statements/iFEED_Calibrated_Statements-Climate_Extremes_SC_pdf.pdf' target='_blank'>Climate change extremes - part 2</a>
      <br>
      <a href='/static/data/docs/Calibrated_Statements/iFEED_Calibrated_Statements-Climate_Impacts_pdf.pdf' target='_blank'>Climate change impacts and adaptation</a>
      <br>
      <a href='/static/data/docs/Calibrated_Statements/iFEED_Calibrated_Statements-Food_Production_pdf.pdf' target='_blank'>Food production</a>
      <br>
      <a href='/static/data/docs/Calibrated_Statements/iFEED_Calibrated_Statements-TNT_pdf.pdf' target='_blank'>Trade and nutrition security</a>
      <br>
      <a href='/static/data/docs/Calibrated_Statements/iFEED_Calibrated_Statements-Yield_Shocks_full_pdf.pdf' target='_blank'>Yield shocks - all statements</a>
      <br>
      <a href='/static/data/docs/Calibrated_Statements/iFEED_Calibrated_Statements-Yiels_Shocks_Summary_pdf.pdf' target='_blank'>Yield shocks summary</a>
      <br>
      <a href='/static/data/docs/Calibrated_Statements/iFEED_Calibrated_Statements-Crop_Pest_pdf.pdf' target='_blank'>Crop pests and diseases</a>
      <br>
      <a href='/static/data/docs/Calibrated_Statements/iFEED_Calibrated_Statements-Emissions_Soil_pdf.pdf' target='_blank'>Emissions and soils</a>
      <br>
      <a href='/static/data/docs/Calibrated_Statements/iFEED_Calibrated_Statements-Soil_Erosion_pdf.pdf' target='_blank'>Soil erosion</a>
      <br><br>
    </div>
    <div class='col-md-6 col-12'>
      <strong>Implication Statements</strong>
      <br>
      <a href='/static/data/docs/Implication_Statements/iFEED_Implication_Statements-Irrigation_Water_Use_pdf.pdf' target='_blank'>Irrigation</a>
      <br>
      <a href='/static/data/docs/Implication_Statements/iFEED_Implication_Statements-Aflatoxins_pdf.pdf' target='_blank'>Aflatoxins</a>
      <br>
      <a href='/static/data/docs/Implication_Statements/iFEED_Implication_Statements-Crop_and_Livestock_diversification_pdf.pdf' target='_blank'>Crop diversification and livestock</a>
      <br>
      <a href='/static/data/docs/Implication_Statements/iFEED_Implication_Statements-Crop_pests_and_Diseases_pdf.pdf' target='_blank'>Crop pests and diseases</a>
      <br>
      <a href='/static/data/docs/Implication_Statements/iFEED_Implication_Statements-Cassava_Toxicity_pdf.pdf' target='_blank'>Cassava toxicity</a>
      <br>
      <a href='/static/data/docs/Implication_Statements/iFEED_Implication_Statements-Livelihoods_pdf.pdf' target='_blank'>Households and livelihoods</a>
      <br>
      <a href='/static/data/docs/Implication_Statements/iFEED_Implication_Statements-Seed_Systems_pdf.pdf' target='_blank'>Seed systems</a>
      <br>
      <a href='/static/data/docs/Implication_Statements/iFEED_Implication_Statements-Soil_Health_pdf.pdf' target='_blank'>Soil health</a>
    </div>
    </div>
  </div>



</div><!-- .entry-content -->

{% endblock %}

</html>
