{% extends 'layout.html.j2' %}

{% block body %}

<div style="text-align: justify">
  <p>
    The iFEED tool is an online data exploration application designed to provide a <b>climate smart food system policy pathway</b> tool. In its completed form, it will present data and descriptors for future scenarios and the impact these scenarios will have on crop yields and diets</p>
  <p> This tool is made in conjunction with the <a href="https://africap.info">GCRF Africap</a> project.</p>

  <p><center> <h2>Data Exploration Options </h2><br>
  The data from the crop simulations can be presented either in comparison across all AFRICAP countries, or on a country by country basis. The buttons below lead to these options</center></p>
  <div style="margin-bottom: 20px"></div>
</div>
<div class="homeboxrow">
  <div class="col-xs-12 col-sm-6">
    <a href="/data_exploration/ALLcomp"><div class="homebox grow"><h2 style="color:#593c2f;">Explore and Compare Data from All Countries</h2></div></a>
    <div style="text-align: center">
      Explanatory text for the inter-country comparisons - to be added later
    </div>
  </div>
  <!--<div class="col-md-1"></div>-->
  <div class="col-xs-12 col-sm-6">
    <a href="/countries"><div class="homebox grow"><h2 style="color:#593c2f;">Explore Data from Individual AFRICAP Countries</h2></div></a>
    <div style="text-align: center">
      Explanatory text for the intra-country comparisons - to be added later
    </div>
  </div>
</div>
{% endblock %}
