{% extends 'layout.html.j2' %}

{% block body %}

<div style="text-align: justify">
  <p>The iFEED tool is an online data exploration application made as part of the <a href="https://africap.info" target="_blank" >GCRF Africap</a> project. It is designed to provide integrated evidence to shape policies towards climate-smart nutrition security. In its completed form, it will present data and descriptors for future scenarios and the impact these scenarios will have on crop yields and diets.</p>

  <h2><center><strong>Please check back in April 2022 for iFEED outputs</strong></center></h2>

  <p>Our trailer below describes how people with different expertise ranging from climate change to food security have come together to develop iFEED. As well as looking at future food production, iFEED includes modelling of emissions, climate extremes and trade and nutrition analysis. This data is supplemented by expert knowledge to nuance conclusions and ensure no critical areas are missing from iFEED.<br><br>

  <iframe loading="lazy" title="A video explaining the nuances of iFEED" width="1100" height="619" src="https://www.youtube.com/embed/Y2dJFN-H68U?feature=oembed&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fafricap.info" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-gtm-yt-inspected-7695589_21="true" id="365197645"></iframe>

<p><a href="https://www.youtube.com/watch?v=y-Jp6AKstzE" target="_blank" >Click here to view an extended version of this video</a></p>

  <!--<p><center> <h2> Country Level Results </h2><br>
    The button below leads to scenarios and descriptor documents for each of the different countries
  </center></p>
  <div style="margin-bottom: 20px"></div>
</div>
  <div class="col-xs-12 col-sm-6">
    <a href="/data_exploration/ALLcomp"><div class="homebox grow"><h2 style="color:#593c2f;">Explore and Compare Data Across All AFRICAP Countries</h2></div></a>
    <div style="text-align: center">
      Explanatory text for the inter-country comparisons - to be added later
    </div>
  </div>-->
  <!--<div class="col-md-1"></div>-->
  <!--<div class="col-xs-12 col-lg-12">
    <a href="/countries"><div class="homebox grow"><h2 style="color:#593c2f;">Explore Data from Individual AFRICAP Countries</h2></div></a>
    <div style="text-align: center">
      Information and documents for the different AFRICAP countries
    </div>
  </div>-->
</div>
{% endblock %}
