{% extends 'layout.html.j2' %}

{% block body %}

<div style="text-align: justify">
  <p>
    This online tool presents data and descriptors for future scenarios and the impact these scenarios will have on crop yields and diets [more accurate description once full use of tool is crystalised]</p>
  <p> This tool is made in conjunction with the <a href="https://africap.info">GCRF Africap</a> project.</p>

  <p><center> <h2>Data Exploration Options </h2></center></p>
  <div style="margin-bottom: 20px"></div>
</div><!-- .entry-content -->
<div class="homerow" style="justify-content: space-around">
  <div class="grdcontainercol" style="width: 40%">
    <div style="text-align: justify"> Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text.
    </div>
    <div class="box"><a href="/data_exploration/ALLcomp"><img class="grow", src="https://dummyimage.com/582x200/fdf1d8/593c2f.png&text=Explore+and+Compare+Data+from+All+Countries", alt="All Countries" ></a> </div>
    <div style="text-align: justify"> Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text.
    </div>
  </div>
  <div style="width: 20%"></div>
  <div class="grdcontainercol" style="width: 40%">
    <div style="text-align: justify"> Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text.
    </div>
    <div class="box"><a href="/countries"><img class="grow", src="https://dummyimage.com/582x200/fdf1d8/593c2f.png&text=Explore+Data+from+Individual+Countries", alt="Individual Countries" ></a> </div>
    <div style="text-align: justify"> Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text.
    </div>
  </div>
</div>
{% endblock %}
