{% extends 'layout.html.j2' %}
{% block body %}
<br>
<div style="text-align: justify">
  <p>
    Any good modeller knows that <a href="https://en.wikipedia.org/wiki/All_models_are_wrong" target="_blank">all models are wrong</a> (and, yes, some are useful). Opinions on the utility of models vary and can be a barrier to effective working across disciplines. Unless we work effectively across the full range of relevant research and stakeholder expertise, we are unlikely to successfully address the grand challenges that face society. Sustainably adapting to climate change is one such challenge.
  </p>
  <p>
An Integrated Assessment Framework (IAF) incorporates models, data and expert judgment with analysis from across the natural and social sciences, in order to make a balanced and sound assessment. The framework is constructed using a modelling mindset, so that a clear picture emerges which accounts for the strengths and weaknesses of each component method. 
  </p>
  <p>
    The integrated Future Estimator for Emissions and Diets (iFEED) is the IAF developed as part of the <a href="https://africap.info/" target="_blank">GCRF-AFRICAP</a> programme. You can read a blog about the approach here: <a href="https://africap.info/scientists-mixing-modelling-data-and-expertise-to-feed-africas-future/" target="_blank">https://africap.info/scientists-mixing-modelling-data-and-expertise-to-feed-africas-future/</a>. iFEED is being used to describe and quantify climate-smart, nutrition-secure futures in Malawi, South Africa, Tanzania and Zambia.
  </p>
  <p>
iFEED consists of three stages. Firstly, a scenario exercise is used to explore the range of possibilities that the future may hold. Food system stakeholders identify a set of driving forces that shape future food system outcomes. Through discussion, two independent and impactful drivers (known as critical uncertainties) are selected over which there is high uncertainty, thus maximising the range of possible futures. The two critical uncertainties are used to create a 2x2 matrix that frames four potential future scenarios. Each one of these scenarios is discussed in detail, creating a narrative-driven scenario into which all driving forces of change can be integrated. 
  </p>
  <p>
Secondly, modelling of climate-food-emissions takes place, as informed by stakeholders – for example, how each scenario will vary in terms of changes to agricultural areas, crop diversity, irrigation and international trade. This integrated modelling provides each scenario with quantification of changes to nutrition security (based on underlying crop yields, food production and trade), greenhouse gas emissions, soil organic carbon, and climate extremes. Model results are summarised using calibrated statements that are associated with an assessment of confidence. <a href="/calibrated#calibrated">All calibrated statements are available to view here.</a>
  </p>
  <p>
Thirdly, the calibrated statements are expanded upon by a wide range of academic experts who examine model results and provide implication statements. This process builds upon the integrated modelling to ensure that processes / topics not explicitly modelled are included in final result summaries. Implication statements are made in small academic expert teams around specific topic areas. These topic areas are agreed with in-country stakeholders and based on the expertise in the research team, selected to cover the various aspects of importance to climate change impacts and agricultural resilience in the region being studied. <a href="/calibrated#implication">All implication statements are available to view here.</a>
  </p>
  <p>
The calibrated and implication statements are collected into summaries for each scenario in the areas of food production and land use, climate smartness, trade and nutrition security, and climate shocks and extremes. These results are then further synthesised in scenario and country-level documents, which are available to view within the Country-Level Results page.
  </p>
  <p>
Please see the iFEED methods paper (Jennings et al. submitted 2022) for more information.
 </p>
  <p><strong>Modelling methods:</strong></p>
  <ul>
    <li>The General Large Area Model for annual crops (GLAM; Challinor et al. 2004) is used to assess changes to average crop yields and crop failures in the future. The crops simulated are maize, soybean, potato and groundnut.</li>
    <li>There are approximately 432,000 simulations per crop and country (100 years, 10 productivity levels (YGP), 12 irrigation levels (from rainfed to fully irrigated), 18 climate models, 2 RCPs).  <a href="/data_exploration/ALLcomp">Please click here to view crop model outputs.</a></li>
    <li>Climate change impacts on a wider range of agricultural commodities are estimated using mean results from these simulated crops &ndash; the C3 photosynthetic pathway results (groundnut, soybean and potato) are used as average impacts for other C3 crops, and maize impacts are used for C4 photosynthetic pathway crops.</li>
    <li>Food production is assessed through a combination of yield change and stakeholder-driven land use allocation.</li>
    <li>Nutrition security outcomes are then assessed using future food production outcomes and across contrasting trade vignettes (business as usual; self-sufficiency; stakeholder expectations).</li>
    <li>The ECOSSE model (Estimating Carbon in Organic Soils &ndash; Sequestration and Emissions; Smith et al. 2010) is used to simulate changes to greenhouse gas emissions and soil organic carbon given changes to land use, yields and food production.</li>
  </ul>
</div><!-- .entry-content -->
<p><img loading="lazy" width="1080" height="764" src="/static/images/iFEED-infographic-2_1080x764.jpg" alt="Infographic about building integrated and inclusive climate-smart, nutrition secure pathways in sub-Saharan Africa"></p>
{% endblock %}

</html>
