{% extends 'layout.html.j2' %}
{% block body %}
<br>
<div style="text-align: justify">
  <p>
    Any good modeller knows that <a href="https://en.wikipedia.org/wiki/All_models_are_wrong">all models are wrong</a> (and, yes, some are useful). Opinions on the utility of models vary and can be a barrier to effective working across disciplines. Unless we work effectively across the full range of relevant research and stakeholder expertise, we are unlikely to successfully address the grand challenges that face society. Sustainably adapting to climate change is one such challenge.
  </p>
  <p>
An Integrated Assessment Framework (IAF) incorporates models, data and expert judgment with analysis from across the natural and social sciences, in order to make a balanced and sound assessment. The framework is constructed using a modelling mindset, so that a clear picture emerges which accounts for the strengths and weaknesses of each component method. 
  </p>
  <p>
    The integrated Future Estimator for Emissions and Diets (iFEED) is the IAF developed as part of the <a href="https://africap.info/">GCRF-AFRICAP</a> programme. You can read a blog about the approach here: <a href="https://africap.info/scientists-mixing-modelling-data-and-expertise-to-feed-africas-future/">https://africap.info/scientists-mixing-modelling-data-and-expertise-to-feed-africas-future/</a>
  </p>
  <p>
iFEED is being used to describe and quantify climate-smart, nutrition-secure futures that are defined through participatory scenario workshops. These workshops set out four comprehensive possible futures that iFEED is being used to explore.
  </p>
  <p>
iFEED results are expressed via descriptors which come from mixes of various methods, from model-driven (food production, climate-smartness) through to data- and expertise- driven (trade and nutrition, pests).
  </p>
  <p><strong>Modelling methods:</strong></p>
  <ul>
    <li>The General Large Area Model for annual crops (GLAM; Challinor et al. 2004) is used to assess changes to average crop yields and crop failures in the future. The crops simulated are maize, soybean, potato and groundnut.</li>
    <li>There are approximately 432,000 simulations per crop and country (100 years, 10 productivity levels (YGP), 12 irrigation levels (from rainfed to fully irrigated), 18 climate models, 2 RCPs).</li>
    <li>Climate change impacts on a wider range of agricultural commodities are estimated using mean results from these simulated crops &ndash; the C3 photosynthetic pathway results (groundnut, soybean and potato) are used as average impacts for other C3 crops, and maize impacts are used for C4 photosynthetic pathway crops.</li>
    <li>Food production is assessed through a combination of yield change and stakeholder-driven land use allocation.</li>
    <li>Nutrition security outcomes are then assessed using future food production outcomes and across contrasting trade vignettes (business as usual; self-sufficiency; stakeholder expectations).</li>
    <li>The ECOSSE model (Estimating Carbon in Organic Soils &ndash; Sequestration and Emissions; Smith et al. 2010) is used to simulate changes to greenhouse gas emissions and soil organic carbon given changes to land use, yields and food production.</li>
    <li>Please see the iFEED methods paper (Jennings et al. 2022, in prep.) for more information.</li>
  </ul>
</div><!-- .entry-content -->
<p><img loading="lazy" width="1080" height="764" src="/static/images/iFEED-infographic-2_1080x764.jpg" alt="Infographic about building integrated and inclusive climate-smart, nutrition secure pathways in sub-Saharan Africa"></p>
{% endblock %}

</html>
