{% extends 'layout.html.j2' %}
{% block body %}

<div>
  <h1> Quadrant {{quadrant}} for {{country}} </h1>
    <div class="box"><img class="grow", src="https://dummyimage.com/200x200/2bb8b8/fff.png&text=Quadrant+{{quadrant}}", alt="Quadrant" ></div>
</div><!-- .entry-content -->
{% endblock %}
</html>
